*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-primary: #4d4b47;
  --color-secondary: #19526e;
  --color-headings: #f7f7f5;
  --color-headings-2: #113445;
  --color-body: #1c1c1b;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-left: 3rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

/* Links */

a {
  text-decoration: none;
}

.link-nav {
  color: var(--color-headings);
  font-size: 2rem;
  margin-left: 3rem;
}

/* Badges */

.badge {
  background-color: transparent;
  background-color: transparent;
  color: var(--color-headings);
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 4rem;
  white-space: nowrap;
  width: 50vh;
}

@media screen and (min-width: 768px) {
  .badge {
    width: 30vh;
  }

  .badge:hover {
    background-color: var(--color-headings);
    color: #1c1c1b;
    transition: 1s;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
  display: flex;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Icons */

.icon {
  color: var(--color-headings);
  background-color: transparent;
}

/* Buttons */

.btn {
  background-color: transparent;
  border: 3px solid var(--color-headings);
  color: var(--color-headings);
  cursor: pointer;
  margin-left: 3rem;
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 30px;
}

@media screen and (min-width: 768px) {
  .btn {
    display: inline-block;
    width: 30vh;
  }

  .btn:hover {
    background-color: var(--color-headings);
    color: black;
    transition: 1s;
  }
}

/* Cards */

.card {
  box-shadow: 0 0 20px var(--color-secondary);
}

.card__header {
  padding: 6rem 5rem;
  background-color: var(--color-headings);
  color: var(--color-body);
}

/* Media */

.media-title {
  color: var(--color-headings-2);
}

.media .container {
  display: flex;
  width: 960px;
  flex-direction: column;
}

.media-person {
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 1rem;
  width: 20rem;
  height: 20rem;
  background-color: lightgray;
}

.media-person:nth-of-type(odd) {
  float: left;
}
.media-person:nth-of-type(even) {
  float: right;
}

.media__title {
  color: var(--color-body);
  margin-top: 2rem;
  text-align: center;
}

.person-2 {
  text-align: right;
}

/* Grids */

.services .container {
  background-color: var(--color-secondary);
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.services-item {
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .services {
  }

  .services-item {
    width: 20rem;
    height: 20rem;
    /* margin-top: auto; */
    justify-content: space-around;
    align-items: stretch;
    background-color: var(--color-headings);
    color: var(--color-body);
  }
}

/* Navigation Bar */

.nav .container {
  background-color: var(--color-primary);
  padding: 0 5rem;
  width: 960px;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--color-headings);
}

.nav__list {
  width: auto;
  margin: 0;
  display: flex;
  font-size: 2rem;
}

.nav__item {
  padding: 0.5 2rem;
}

.nav__item > a {
  color: var(--color-headings);
}
.nav__item > a:hover {
  color: white;
  transition: color 0.5s;
}

@media screen and (min-width: 768px) {
  /* /* needs attention */
}

/* Hero */

.hero .container {
  background-image: url(/images/forest-bgc.jpg);
  object-fit: cover;
  height: 100vh;
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* Footer */

.footer-nav {
  background-color: var(--color-primary);
  padding: 0 1rem;
}

.nav .container {
  width: 960px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: var(--color-headings);
}

.footer-list {
  width: auto;
  margin: 0;
  display: flex;
  font-size: 2rem;
}

.nav__item {
  padding: 0.5 2rem;
}
