:root {
  --color-primary: #4d4b47;
  --color-secondary: #19526e;
  --color-headings: #f7f7f5;
  --color-headings-2: #113445;
  --color-body: #1c1c1b;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: roboto, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

/* Links */

a {
  text-decoration: none;
}

.link-nav {
  color: var(--color-headings);
  font-size: 2rem;
  font-weight: bold;
}
